<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="taskTimeoutJob" class="com.mossle.bpm.scheduler.TaskTimeoutJob"/>

	<bean id="taskTimeoutJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="taskTimeoutJob" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="taskTimeoutTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="taskTimeoutJobDetail" />
		<property name="cronExpression" value="0 * * * * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="taskTimeoutTrigger" />
			</list>
		</property>
	</bean>

</beans>